@font-face {
    font-family: "CommuterSans";
    src: url("./fonts//Fontspring-DEMO-commuterssans-light.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

:root{
    --commuter-sans-font: "CommuterSans";
    --montserrat-font: "Montserrat";

    --white: white;
    --black: #151515;
    --dark-charcoal: #1a1a1a;
    --light-charcoal: #242424;
    --grey: #8c8c8c;
    --light-grey: #acacac;
    --red: #cb0000;
    --pink: #cb0c54;
    --gradient: linear-gradient(90deg, var(--pink), var(--red));

    --scrollbar-width: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.white-text{
    color: var(--white);
}

.grey-text{
    color: var(--grey);
}

.gradient-text{
    background-clip: text;
    background-image: var(--gradient);
    color: transparent;
}

.commuter-sans{
    font-family: var(--commuter-sans-font);
}

.montserrat{
    font-family: var(--montserrat-font);
    font-weight: 300;
}

section{
    padding: 0 16%;
}

section.dark-charcoal{
    background-color: var(--dark-charcoal);
}

section.black{
    background-color: var(--black);
}

section.bg1,
section.bg4,
section.bg5{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.bg1{
    --proportion: calc(1074 / 1920); 

    height: calc((100vw - var(--scrollbar-width)) * var(--proportion));
    width: calc(100vw - var(--scrollbar-width));
    background-image: url("./images/Fundo.sessão1.webp");
}

section.bg4{
    --proportion: calc(1509 / 1920);

    height: calc((100vw - var(--scrollbar-width)) * var(--proportion));
    width: calc(100vw - var(--scrollbar-width));
    background-image: url("./images/Fundo\ sessaÌo\ 4.webp");
}

section.bg5{
    --proportion: calc(1293 / 2066);

    height: calc((100vw - var(--scrollbar-width)) * var(--proportion));
    width: calc(100vw - var(--scrollbar-width));
    background-image: url("./images/Fundo.sessão5.webp");
}

section.third-section{
    padding-top: 400px;
    padding-bottom: 100px;
}

div.skill-block{
    border-bottom: 2px solid var(--light-charcoal);
    margin-bottom: 80px;
    padding-bottom: 80px;
}

h2.block-title{
    font-size: 2em;
    margin-bottom: 80px;
    text-align: center;
}

h3.block-subtitle{
    margin-bottom: 20px;
}

div.card-grid{
    --column-gap: 50px;
    --row-gap: 60px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

div.card{
    background-color: var(--dark-charcoal);
    border-radius: 5px;
    border: 2px solid var(--light-charcoal);
    height: 250px;
    padding: 40px 35px;
    transition: background-color .3s ease-in-out;
}

div.card:hover{
    background-color: var(--light-charcoal);
}

div.card > div.images{
    display: flex;
}

div.card > div.images > img{
    --size: 50px;

    background-color: var(--dark-charcoal);
    border: 1px solid var(--light-charcoal);
    border-radius: 5px;
    height: var(--size);
    width: var(--size);
}

div.card > div.images > img:not(:last-child){
    margin-right: 10px;
}

div.card > h4.card-title{
    line-height: 2em;
    margin-bottom: 10px;
    margin-top: 25px;
}

div.card > p.card-text{
    font-size: .8em;
    line-height: 2em;
}

div.card-grid-3{
    --column-gap: 50px;
    --row-gap: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

div.company-images{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    transform: translateY(340%);
}

div.company-images > img{
    height: 63px;
}

div.about-me-card{
    background-color: var(--light-charcoal);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 60px 40px;
    transform: translateY(50%);
}

div.about-me-card > div.card-text,
div.about-me-card > img{
    width: 40%;
}

div.about-me-card > div.card-text > h3.card-title{
    font-size: 2em;
    margin-bottom: 30px;
}

div.about-me-card > div.card-text > p.card-description{
    line-height: 2em;
}

@media only screen and (max-width: 800px) {

    :root{
        --card-text-max-width: 250px;
    }

    section{
        padding: 0 50px;
    }

    section.bg1{
        --proportion: calc(590 / 800);
        background-image: url("./images/Fundo.\ sessão1.mobile.webp")
    }

    section.bg4{
        --proportion: calc(1658 / 800);
        background-image: url("./images/Fundo.\ sessão4.mobile.webp");
    }

    section.bg5{
        --proportion: calc(2635 / 800);
        background-image: url("./images/Fundo.\ sessão5.mobile.webp");
    }

    div.skill-block{
        margin-top: 500px;
    }

    div.skill-block > h2.block-title{
        font-size: 4em;
    }

    div.skill-block > h3.block-subtitle{
        font-size: 2em;
        text-align: center;
        margin-bottom: 60px;
    }

    div.card-grid,
    div.card-grid-3{
        grid-template-columns: 1fr;
    }

    div.card > h4.card-title{
        max-width: var(--card-text-max-width);
    }

    div.card > p.card-text{
        max-width: var(--card-text-max-width);
    }

    div.about-me-card{
        flex-direction: column;
        padding: 80px 50px 50px 50px;
    }

    div.about-me-card > div.card-text,
    div.about-me-card > img{
        width: 100%;
    }

    div.about-me-card > div.card-text > h3.card-title,
    div.about-me-card > div.card-text > p.card-description{
        text-align: center;
    }

    div.about-me-card > div.card-text > h3.card-title{
        font-size: 4em;
    }

    div.about-me-card > div.card-text > p.card-description{
        margin-bottom: 50px;
    }
}